<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <title>Banner Generator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-5.0.2-dist/css/bootstrap.min.css') }}">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Banner Generator</h1>
          <p>
            {% if session.get('logged_in') %}
              Hey {{ session['logged_in'] }}, <a href="{{ url_for('logout') }}">logout</a>
            {% endif%}
          </p>
      </header>
      <main>
        {% block content %}
        {% endblock %}
      </main>
      <br>
      <hr>
      <footer>
       
      </footer>
    </div>
  </body>
</html>

